/* Write your global styles here, in PostCSS syntax */
@import url("animation.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  hr {
    @apply my-4;
  }
  h1 {
    @apply text-3xl font-bold mb-4;
  }
  h2 {
    @apply text-2xl font-medium mb-1;
  }
  ul {
    @apply list-disc ml-4;
  }
}

body {
  @apply min-h-screen flex bg-neutral-700 text-white;
  background-image: url("/hexagon_pattern.svg");
  background-repeat: repeat;
}

@layer utilities {
  .curve {
    z-index: -1;
    clip-path: polygon(
      50% 0,
      100% 0,
      100% 100%,
      50% 100%,
      0 100%,
      10% 87.5%,
      15% 75%,
      15% 25%,
      10% 12.5%,
      0 0
    );
  }
}
