/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("hexagon_pattern.svg");
  background-repeat: repeat;
}
